<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Certidões</title>
</head>
<body>
    <h1>Consulta de Certidões</h1>
    <form action="/certidoes" method="post">
        <label for="cnpjs">Insira os CNPJs separados por espaço:</label><br>
        <input type="text" id="cnpjs" name="cnpjs"><br>
        <input type="submit" value="Consultar">
    </form>

    {% if certidoes %}
        {% for certidao in certidoes %}
            <h2>Fornecedor: {{ certidao['fornecedor'] }}</h2>
            <p>CNPJ: {{ certidao['cnpj'] }}</p>
            <p>Certidão TCU (gerada por API): <a href="{{ certidao['certidao_tcu']['url'] }}">Detalhes</a></p>
            <p>Status TCU: {{ certidao['certidao_tcu']['status'] }}</p>
            
            <p>Certidão SICAF (gerada por API): <a href="https://compras.dados.gov.br/fornecedores/v1/ocorrencias_fornecedores.json?cnpj={{ certidao['cnpj'] }}">Ver Ocorrências</a></p>

            {% if certidao.get('ocorrencias') %}
                <h3>Impedimentos de licitar:</h3>
                {% for ocorrencia in certidao['ocorrencias'] %}
                    <p>Tipo de ocorrência: {{ ocorrencia['tipo_ocorrencia'] }}</p>
                    <p>Data inicial: {{ ocorrencia['data_inicial'] }}</p>
                    <p>Data final: {{ ocorrencia['data_final'] }}</p>
                    <p>Link da ocorrência: <a href="{{ ocorrencia['link_ocorrencia'] }}">Detalhes</a></p>
                {% endfor %}
            {% else %}
                <p>Status SICAF: OK</p>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>